#definitionPopup {
    position: fixed;
    right: -300px;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease;
}

#definitionPopup h3 {
    margin-top: 40px; /* Added more space below the X button */
}

#definitionPopup ul {
    list-style-type: none;
    padding: 0;
}

#definitionPopup li {
    margin-bottom: 25px;
}

#definitionPopup .partOfSpeech {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#definitionPopup .definition {
    margin-left: 10px;
    margin-bottom: 10px;
}

#definitionPopup .example {
    font-style: italic;
    color: #666;
    margin-left: 10px;
    margin-top: 5px;
}

#definitionPopup .synonyms,
#definitionPopup .antonyms {
    margin-left: 10px;
    margin-top: 10px;
}

#definitionPopup .synonyms span,
#definitionPopup .antonyms span {
    cursor: pointer;
    color: #27445D;
    text-decoration: underline;
    margin-right: 5px;
}

#definitionPopup .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #666;
}

body.popup-open content {
    width: calc(98vw - 220px - 300px);
    transition: width 0.3s ease;
}

body.popup-open img {
    width:15vw;
    transition: width 0.3s ease;
}

body.popup-open {
    margin-right: 300px;
    transition: margin-right 0.3s ease;
}